<div class="container" id="cart">
    <div class="container">
      <h1>Shopping Cart</h1>
      <div ng-repeat="listing in listings" class="row listing">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-10">
              <h3 class="list-title"><a href="http://mikefausz.github.io/fartsy/#/listing/{{listing.listing_id}}">{{ listing.title }}</h3></a>
            </div>
            <div class="col-md-2">
              <div class="photo-box">
                <img ng-src="{{ listing.MainImage.url_170x135 }}" alt="" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <form role="form" class="form-inline">
                <div class="row">
                  <div class="col-md-2">
                    <h4>{{ listing.price | currency }}</h4>
                  </div>
                  <div class="col-md-2">
                    <h4>X</h4>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <input ng-model="listing.purch_quantity" type="number" name="quantity" value="{{ listing.purch_quantity }}" min="1" max="{{ listing.quantity}}">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <button ng-click="changeQuantity(listing)" type="button" class="btn btn-info">Update Quantity</button>
                    <button ng-click="removeFromCart(listing)" type="button" class="btn btn-danger">Remove</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-4 text-right">
              <h3>{{ listing.purch_quantity * listing.price | currency }}</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="pull-right">
        <h3>Subtotal: {{ calcSubtotal() | currency }}</h3>

      </div>
    </div>
</div>
