<div class="container" id="jumbo">
  <div class="jumbotron">
    <h1>Welcome to Fartsy</h1>
    <p>We got handmade soap and shit</p>
  </div>
</div>
<div class="container" id="home">
  <div ng-repeat="listing in listings | filter:search" class="panel panel-default">
    <div class="panel-body">
      <!-- <div class="row">
        <div class="col-lg-12">
          <h5>
            <span ng-repeat="path in listing.category_path">{{ path }} >> </span>
          </h5>
        </div>
      </div> -->
      <div class="row">
        <div class="col-lg-4">
          <div class="photo-box">
            <img ng-src="{{ listing.MainImage.url_570xN }}" alt="" />
          </div>
        </div>
        <div class="col-lg-8">
          <h2><a href="http://mikefausz.github.io/fartsy/#/listing/{{listing.listing_id}}">{{ listing.title }}</h2></a>
          <p>
            {{ listing.price | currency }}
          </p>
          <form role="form">
            <div class="form-group">
              <label for="quantity">Quantity:</label>
              <input ng-model="listing.purch_quantity" type="number" name="quantity" value="1" min="1" max="{{ listing.quantity }}">
            </div>
            <button ng-click="addToCart(listing)" type="button" class="btn btn-default">Add to Cart</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
