$serif: 'Merriweather', serif;
$orange: rgb(244,88,0);

#main-nav {
  margin-bottom: 0;
  .container {
    width: 980px;
  }
  .navbar-brand {
    height: auto;
  }
  h1 {
    margin-top: 10px;
    font-family: $serif;
    color: $orange;
  }
  .input-group, ul {
    margin-top: 30px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    a {
      text-decoration: none;
      color: grey;
    }
  }
  li {
    display: inline-block;
    text-align: center;
    padding: 0 10px;
    &:not(:last-child) {
      border-right: 1px solid lightgrey;
    }
  }
  .glyphicon {
    font-size: 20px;
    margin: 0 15px 5px 15px;
    display: block;
  }
}
#filter {
  border-top: 0;
  padding: 10px;
  .container {
    width: 980px;
  }
  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: auto;
  }
}

#jumbo {
  width: 980px;
  h1 {
    font-family: $serif;
  }
  .jumbotron {
    background-image: url('https://images.unsplash.com/photo-1454873019514-eae2f086587a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=c18a396c481845cce89abb6a9e0e9257');
    background-position-y: 67%;
    color: $orange;
  }
}

#home {
  width: 980px;
  .photo-box {
    width: 100%;
    img {
      width: 100%;
    }
  }
  a {
    color: black;
  }
  h2 {
    font-family: $serif;
  }
}

#listing {
  width: 980px;
  .panel-body {
    padding: 50px;
  }
  .container {
    width: 100%;
  }
  .photo-box {
    width: 100%;
    img {
      width: 100%;
    }
  }
  h2, h3 {
    font-family: $serif;
  }
  .glyphicon {
    font-size: 10px;
  }
}

.tag-list {
  ul {
    list-style-type: none;
  }
  li {
    color: grey;
    display: inline-block;
    &:before {
      content: '#';
    }
    &:after {
      content: ',\ ;';
    }
  }
}

#cart {
  .container {
    width: 980px;
  }
  .list-title {
    font-family: $serif;
  }
  a {
    color: black;
  }
  input {
    margin-top: 6px;
  }
  .photo-box {
    img {
      width: 100%;
    }
  }
  .listing {
    padding: 20px 0;
    border-bottom: 1px solid lightgrey;
  }
}
